@page {
    margin: 0cm 0cm;
    font-family: Arial;
}

body {
    margin: 4cm 1cm 3.5cm;
    border: purple 3px solid;
    padding: 0.5cm 1cm 0.5cm;
}

.page-break {
    page-break-after: always;
}

header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 3cm;
    color: purple;
    line-height: 30px;
    border-top: purple 5px solid;
    border-bottom: purple 5px solid;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 3cm;
    color: purple;
    text-align: center;
    line-height: 35px;
}

.table-header{
    width:100%;
    border-bottom: purple 3px solid;
}

.subtitle{
    font-size: 18px;
    font-weight: bold;
}

.center-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-table{
    border: 1px solid black;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.image-position{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}